# Repo dependencies
PyYAML==5.4.1
numpy==1.18.5
SoundFile==0.10.3.post1
spleeter==2.2.2
matplotlib==3.2.2
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3
mir-eval==0.6
ffmpeg-python==0.2.0
librosa==0.8.0
pathlib==1.0.1
jams==0.3.4
antropy==0.1.4
openpyxl==3.0.9